body {
background-color:#80e5ff;
font-family:"American Typewriter";
}

#pic1 img { 
 display: block;
 margin-left: auto;
 margin-right: auto;
}

#list {
 width: 25%;
 float: left;
}

#picstep1 img {
 width: 4px;
}

#picstep2 img {
 width: 20%;
}

#picstep3 img {
 width: 20%;
}

#picstep4 img {
 width: 20%;
}

#picstep5 img {
 width: 20%;
}

#picstep6 img {
 width: 20%;
}

#picstep7 img {
 width: 20%;
}

#picstep8 img {
 width: 20%;
}

#picstep9 img {
 width: 20%;
}

#picstep10 img {
 width: 20%;
}
