body {
background-color:#80e5ff;
font-family:"American Typewriter";
}

#pic1 { 
width: 100px;
float: right; 
}

#list {
 width: 25%;
 float: left;
}

#picstep1 {
 width: 75%;
}

#picstep2 {
 width: 75%;
}

#picstep3 {
 width: 75%;
}

#picstep4 {
 width: 75%;
}

#picstep5 {
 width: 75%;
}

#picstep6 {
 width: 75%;
}

#picstep7 {
 width: 75%;
}

#picstep8 {
 width: 75%;
}

#picstep9 {
 width: 20%;
}

#picstep10 {
 width: 20%;
}
